*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
    width: 100vw ;
    min-height: 100vh;  
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    background-color: #fafafa;
}

